/* Generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header {
    width: 60%;
    margin: 0 auto;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

/* sezione tasti */
section h1{
    font-weight: 700;
}


#sezione_difficolta {
    width: 15%;
    font-size: 28px;
    text-align: center;
   
}

button{
    width: 100px;
    min-height: 50px;
    font-size: 20px;
    font-weight: 700;
}




#play {
    font-size: 11px;
    padding: 0 20px;
}

.start{
    border: none;
}

/* Main */
main {
    height: calc(100vh - 140px);
    min-height: 280px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border: 1px solid black;
    position: relative;
}


[class^="grid_square"] {
    border: 1px solid black;
    position: relative;
    cursor: pointer;
}

[class^="grid_square"].facile {
    width: calc(100% / 10);
    height: calc(100% / 10);
}

[class^="grid_square"].medio {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

[class^="grid_square"].difficile {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

[class^="grid_square"].active {
    background-color: aqua;
}

[class^="grid_square"].bomba {
    background-color: red;
}

[class^="grid_square"].inesplorata {
    background-color: red;
   
}

.grid_number {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.disattiva {
    pointer-events: none;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

#game_end{
   width: 50%;
   display: flex;
   justify-content: space-around;
   font-weight: 800;
}


/* Footer */
footer {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}